# monday to friday
0 8 * * * /app/allow-entretaiment.sh
30 8 * * * /app/block-entretaiment.sh
30 13 * * * /app/allow-entretaiment.sh
0 15 * * * /app/block-entretaiment.sh
0 18 * * * /app/allow-entretaiment.sh

# saturday and sunday
0 6 * * * /app/allow-entretaiment.sh

# daily
55 22 * * * /app/block-entretaiment.sh
